<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Config" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="$PROJECT_DIR$/../../../../Program Files/Java/jre1.8.0_331" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="neeraj.spark.assignment.Main" />
    <module name="spark-Assignment" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>